body {
  padding-top: 55px;
  background-color: #fff;
  color: #333;
  font-family: 'Play', sans-serif;
  font-size: 14px;
  padding: 10px;
  height: 100%;
  width: 100%;
}
.row, .container {
  padding: 0 !important;
  position: relative;
}
h1 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
h2 {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  padding-bottom: 3%;
}
h3 {
  text-align: center;
  padding: 1%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
h4 {
  width: 70%;
}
a, a:hover, a:active {
  color:#000;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
a:visited {
  color:#444;
}
.btn {
  margin-bottom:10px;
  text-decoration:none;
}
.btn-default, .btn-default:visited {
  font-size: 1vw;
  color: rgba(255, 255, 255, 0.8);
  background-color: #000;
  border-color: #000;
}
.show:focus ~ .portlet-content {
   display: block;
  
}
.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:active:hover, .btn-default:active:focus {
  color:#fff;
  background:#333;
  border-color: #333;
}
.pricing_plan {
  border-radius: 4px;
  text-align: center;
  margin-top: 0;
  padding: 0;
  cursor: default;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  border-top: 5px solid #000;
  position: relative;
}
.pricing_plan h3 {
  font-size: 1.8vw;
  color: #fff;
  background: #000;
}
.digit {
  text-align: center;
  width: 20%;
  color: #fff;
  font-size: 2vw;
  line-height: 2;
  background-color: #000;
  border-radius: 10%;
  float: left;
}
.order {
  position: absolute;
  bottom: 3%;
  right: 0;
}
.price {
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  padding: .5% !important;
  margin: 5% auto !important;
  position: relative;
  z-index: 100;
  line-height: 150%;
  margin: 1% auto;
  -webkit-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;
}
.pricing_plan ul {
  font-size: 1.7vw;
  margin: 0;
  -webkit-padding-start: 0;
  text-align: left;
}
.pricing_plan li {
  padding: 1%;
  margin: 1%;
  border-radius: 10px;
}
.photo {
  background-image: url("../img/studio_mini.jpg");
  background-color: #f3f5f6;
  background-size: 100% 100%;
  background-position: 100% 0%;
  background-repeat: no-repeat;
}
.text {
  background-color: rgba(255, 255, 255, .3);
  padding: .5% 0 .5% 22%;
  margin: 5% 0 5% 0;
  border-radius: 10px;
}
.portlet-content {
  display: none;
  margin: 23% auto;
}
.portlet-content:target {
  display: block;
}
.panel, .panel-default > .panel-heading, .panel-footer {
  border: none;
  background-color: rgba(255, 255, 255, .3);
}
.panel-heading h3 {
  color: #444;
  background-color: rgba(255, 255, 255, .3);
}
.panel-body {
  text-align: left;
}
.form-control {
   background-color: rgba(255, 255, 255, .3);
}
/********** Large devices only ***********/
@media (min-width: 1200px) {
  .pricing_plan h3 {
    font-size: 1.4vw;
  } 
  .pricing_plan ul {
   font-size: 1vw;
  }
  .pricing_plan {
  }
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .pricing_plan h3 {
    font-size: 1.5vw;
  }
  .pricing_plan ul {
   font-size: 1.3vw;
  } 
}
/********** Extra small devices only **********/
@media (max-width: 767px) {
  .pricing_plan h3, .price {
    padding: 1%;
    font-size: 3vw;
  }
  .price {
    margin: 1% auto;
  }
  .pricing_plan ul {
  font-size: 2vw;
  line-height: 1;
  }
}
/********** Super extra small devices Only (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  h2 {
    font-size: 4vw;
  }
  .pricing_plan h3, .price, .pricing_plan ul {
    font-size: 3vw;
  }  
  .pricing_plan h3 {
    padding: 1%;
  }
  .price {
    margin: 1% auto;
  }
  .pricing_plan ul {
   line-height: 1.1;
  }
}
