body {
  padding-top: 55px;
  background-color: #fff;
  color: #333;
  font-family: 'Play', sans-serif;
  font-size: 14px;
  padding: 10px;
  height: 100%;
  width: 100%;
}
.row, .container {
  padding: 0 !important;
  position: relative;
}
h1 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
h2 {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  padding-bottom: 3%;
}
h3 {
  text-align: center;
  color: #eeeeee;
  background-color: #9ba9b5;
  font-size: 1.2em;
  padding: 1%;
  border-radius: 10px;
  width: 40%;
  text-align: center;
  margin: 0 auto;
}
h4 {
  padding: 1%;
}
.digit {
  text-align: center;
  width: 8%;
  color: #fff;
  font-size: 2vw;
  background-color: #000;
  border-radius: 10%;
  float: left;
}
a, a:hover, a:active {
  color:#000;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
a:visited {
  color:#444;
}
.btn {
  margin-bottom:10px;
  text-decoration:none;
}
.btn-default, .btn-default:visited {
  color: rgba(255, 255, 255, 0.8);
  background-color: #000;
  border-color: #000;
}
.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:active:hover, .btn-default:active:focus {
  color:#fff;
  background:#333;
  border-color: #333;
}
.pricing_plan {
  border-radius: 4px;
  text-align: center;
  margin-top: 0;
  cursor: default;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  border-top: 5px solid #000;
  position: relative;
}
/*заголовок*/
.pricing_plan h3 {
  font-size: 1.8vw;
  color: #fff;
  background: #000;
}
.price {
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 100;
  line-height: 150%;
  margin: 1% auto;
  -webkit-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;
}
.pricing_plan ul {
  font-size: 1.7vw;
  margin: 0;
  padding-right: 0;
  -webkit-padding-start: 0;
  text-align: left;
}
.pricing_plan li {
  padding: 1%;
  margin: 1%;
  border-radius: 10px;
}
.photo-1 {
  height: 750px;
  overflow: hidden;
}
.photo-2 {
  height: 970px;
  overflow: hidden;
}
.photo-3 {
  background-image: url("img/studio_mini.jpg");
  background-color: #f3f5f6;
  background-size: 100% 100%;
  background-position: 100% 0%;
  background-repeat: no-repeat;
}
.text {
  background-color: rgba(255, 255, 255, .3);
  width: 40%;
  padding: .5%;
  margin-top: 1%;
  border-radius: 10px;
}
.bridge {
  width: 5%;
  height: 74px;
  float: left;
  border-right: 5px solid #000;
  margin-left: 1%;
}
.bridge_1 {
  width: 5%;
  height: 33px;
  float: left;
  border-right: 5px solid #000;
  margin-left: -8.7%;
}
.digit_2 {
  text-align: center;
  width: 8%;
  color: #fff;
  font-size: 2vw;
  background-color: #000;
  border-radius: 10%;
  float: right;
}
.text_2 {
  background-color: rgba(255, 255, 255, .3);
  width: 40%;
  padding: .5%;
  margin-top: 1%;
  border-radius: 10px;
  float: right;
}
.bridge_2 {
  width: 5%;
  height: 77px;
  float: right;
  border-right: 5px solid #000;
  margin-right: 5.5%;
}
.bridge_3 {
  width: 5%;
  height: 33px;
  float: right;
  border-right: 5px solid #000;
  margin-right: 5.5%;
}
/********** Large devices only ***********/
@media (min-width: 1200px) {
  .pricing_plan h3 {
    font-size: 1.4vw;
  } 
  .pricing_plan ul {
   font-size: 1vw;
  }
  .pricing_plan {
  }
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .pricing_plan h3 {
    font-size: 1.5vw;
  }
  .pricing_plan ul {
   font-size: 1.3vw;
  } 
}
/********** Extra small devices only **********/
@media (max-width: 767px) {
  .pricing_plan h3, .price {
    padding: 1%;
    font-size: 3vw;
  }
  .price {
    margin: 1% auto;
  }
  .pricing_plan ul {
  font-size: 2vw;
  line-height: 1;
  }
}
/********** Super extra small devices Only (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  h2 {
    font-size: 4vw;
  }
  .pricing_plan h3, .price, .pricing_plan ul {
    font-size: 3vw;
  }  
  .pricing_plan h3 {
    padding: 1%;
  }
  .price {
    margin: 1% auto;
  }
  .pricing_plan ul {
   line-height: 1.1;
  }
}
