body {
  padding-top: 55px;
  background-color: #fff;
  color: #333;
  font-family: 'Play', sans-serif;
  font-size: 14px;
  padding: 10px;
  height: 100%;
  width: 100%;
}
.row, .container {
  padding: 0 !important;
}
br {
    display: none;
}
h1 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
h2 {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  padding-bottom: 3%;
}
h3 {
  text-align: center;
  color: #eeeeee;
  background-color: #9ba9b5;
  font-size: 1.2em;
  padding: 3%;
}
h4 {
  padding: 1%;
}
.digit {
  font-size: 3vw;
  background-color: #c6cdd2;
  padding: 3% 5%;
  border-radius: 10%;
}
.btn {
  margin-bottom:10px;
  text-decoration:none;
}
.btn-default, .btn-default:visited {
  color: rgba(255, 255, 255, 0.8);
  background-color: #000;
  border: none;
}
.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:active:hover, .btn-default:active:focus {
  color:#fff;
  background:#333;
  background-color: #c6cdd2;
}
.pricing_plan {
  background-color: rgba(0,0,0,.1); 
  border-radius: 4px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
  padding: 1em;
  margin-top: 1%;
  color: #2b2b2b; 
  cursor: default;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  position: relative;
}
/* смена фона при нажатии */
.pricing_plan:hover {
  color: #444;
  background: #ddd;
}
/*заголовок*/
.pricing_plan h3 {
  font-size: 1.8vw;
  margin: 0.5em 0 0;
  color: #fff;
  background: #000;
}
.price {
  font-size: 1.9vw;
  font-weight: bold;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 100;
  line-height: 250%;
  max-width: 50%;
  margin: 1.15em auto 1em;
  border-radius: 10px;
  background: #000;
  -webkit-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;
}
.pricing_plan ul {
  font-size: 1.7vw;
  margin: 0;
  padding: 3%;
  text-align: left;
}
.pricing_plan li {
  padding: 5%;
  margin: 1%;
  background-color: #eef2f5;
  border-radius: 10px;
}
/*кнопка заказа тарифа*/
a {
  margin-top: auto;
  color: #000;
  border-radius: 5px;
  text-decoration: underline;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  white-space: nowrap;
}
/*смена цвета при нажатии кнопки*/
a:hover, a:focus {
  background-color: #c6cdd2;
}
/********** Large devices only ***********/
@media (min-width: 1200px) {
  .pricing_plan h3 {
    font-size: 1.4vw;
  } 
  .pricing_plan ul {
  font-size: 1vw;
  }
  .featured {
  z-index: 10;
  margin: 0;
  font-size: 1.1em;
  }
  .pricing_plan {
   margin: 1.5em 0;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .pricing_plan h3 {
    font-size: 1.5vw;
  }
  .pricing_plan ul {
  font-size: 1.3vw;
  } 
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
 
}
 
/********** Extra small devices only **********/
@media (max-width: 767px) {
  .pricing_plan h3, .price {
    padding: 1%;
    font-size: 3vw;
  }
  .price {
    margin: 1% auto;
  }
  .pricing_plan ul {
  font-size: 2vw;
  line-height: 1;
  }
}
/********** Super extra small devices Only (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  h2 {
    font-size: 4vw;
  }
  .pricing_plan h3, .price, .pricing_plan ul {
    font-size: 3vw;
  }  
  .pricing_plan h3 {
    padding: 1%;
  }
  .price {
    margin: 1% auto;
  }
  .pricing_plan ul {
   line-height: 1.1;
  }
}
