@font-face {
    font-family: 'PT Mono';
    src: url('../fonts/PTM55FT.ttf'); /* Путь к файлу со шрифтом */
}
body {
  color: #000;
  font: bold 12px 'PT Mono';
}
h2 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  margin-top: 15px;
  line-height: 1.5;
  letter-spacing: 2px;
}
section {
  padding: 20px 0;
}
.navbar-nav a {
  text-decoration: none;
}
.container {
  position: relative;
}
header {
  position: fixed;
  width: 100%;
  height: 122px;
  top: 0;
  z-index: 100;
} 
a, a:focus {
  color:#000;
  text-decoration:underline;
  outline:none;
}
a:hover {
  color:#000;
  text-decoration:none;
}
nav {
  position:relative;
  margin-bottom:20px;
}
nav .bg {
  display:none;
}
nav .container {
  position:relative;
}
/** Modal Nav **/
.modal-dialog {
  margin-left: 0;
  width: auto;
}
.modal-content {
  padding: 0;
  border-radius: 0;
}
#modal-nav ul {
  float: left;
  color: #fff;
  background-color: #122ded;
  margin: 0;
}
#modal-nav ul button:focus, #modal-nav ul button:active {
   outline: none !important;
}
#modal-nav .socials {
  position: absolute;
}
#modal-nav #nav-list {
  width: 100%;
  padding-left: 76px;
}
#modal-nav li:first-child {
  background-color: #fff;
}
#modal-nav li:last-child {
  margin-bottom: 40px;
}
#modal-nav a:hover, #modal-nav a:focus {
  color: #000;
}
#nav-list .photo-nav {
  padding: 2%;
  width: 100%;
}
#nav-list span {
  display: inline-block;
  font-size: 14px;
  color: #000;
  padding: 10px;
}
.devider {
  border-top: 2px solid;
  margin: 20px 10px;
}
/** End Modal Nav **/

/** HEADER **/
#header-nav {
  background-color: #fff;
  box-shadow: 0 0 20px #e5e5e5;
  margin: 0;
  border-radius: 0;
  border: 0;
}
.logo-img {
  width: 100%;
  max-width: 96px;
  margin: 18px auto;
}
.navbar-header {
  float: none;
}
.navbar-header ul {
  margin-bottom: 0;
}
.navbar-header .objects {
  border-right: 0;
  padding: 29px 20px;
}
.objects a {
  margin-right: 30px;
}

.interni-logo:before {
  content: " ";
  display: block;
  position: absolute;
  left: 105px;
  background-image: url('../img/arrow.png');
  background-size: cover;
  height: 17px;
  width: 10px;
}
.object-logo:before {
  content: " ";
  display: block;
  position: absolute;
  left: 118px;
  background-image: url('../img/arrow.png');
  background-size: cover;
  height: 17px;
  width: 10px;
}
.menu-main li {
  float: left;
  padding: 20px 15px;
  height: 80px;
  line-height: 3;
}
.menu-main li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#nav-list li {
  float: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.menu {
  text-decoration: none;
  background-image: url('../img/menu.png');
  background-size: cover;
  background-position: 100% 0%;
  background-repeat: no-repeat;
  height: 80px;
  width: 100%;
  min-width: 80px;
  margin: 0 auto;
}
.menu-main h2 {
  font-size: 14px;
}
.navbar-header .header-item {
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  height: 80px;
}
.navbar-header .header-item-1 {
  border-right: 1px solid #e5e5e5;
  height: 80px;
}
.navbar-header .btn:first-child {
  position: relative;
  float: left;
  border: 0;
}
.interni-logo {
  position: relative;
  float: left;
  background-image: url('../img/interni.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 98px;
  height: 22px;
}
.interni-logo:hover {
  background-image: url('../img/interniCOLOR.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.object-logo {
  position: relative;
  float: left;
  background-image: url('../img/objekt.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 111px;
  height: 19px;
}
.object-logo:hover {
  background-image: url('../img/objektCOLOR.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #fff;
} 
.navbar-form {
  padding: 0;
  margin: 0;
} 
.navbar-header .search-button, .navbar-header .search-button-1 {
  border-right: 0;
  width: 100%;
  min-width: 26px;
  background: url('../img/search.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 26px;
}
.navbar-form img {
  width: 100%;
  min-width: 26px;
  height: 26px;
}
.navbar-form .btn {
  padding: 4px;
  border: 0;
  background-color: #fff;
}
/* SEARCH BLOCK*/
#search-box {
  display: none;
}
#search-box:target {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
#search-box:target input {
  border: 0;
  box-shadow: none;
  float: left;
  width: 100%;
}
.search-form a {
  padding: 25px 5px;
}
#search-box input {
  height: 80px;
}
/* END SEARCH BLOCK*/

/* END HEADER */
/* MAIN CONTENT */
section#main-posts:first-of-type { /* отступ первой секции от меню*/
  margin-top: 132px;
}
.title {
  position:absolute;
  left:5%;
  bottom:45px;
  width:90%;
  background:#fff;
  font-size: 26px;
  line-height:32px;
  padding:25px;
  text-align:center;
  letter-spacing: 2px;
}
.object, .date {
  position:absolute;
  top: 1%;
  background:#fff;
  font-size: 12px;
  padding: 1%;
  text-align:center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
.post-object img, .choise img, .banner-hot img, #subscription img {
  width: 100%;
}
.object {
  left: 1%;
}
.date {
  right:1%;
}
.text {
  display: inline-block;
  position: relative;
  float: left;
  background:#fff;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  padding: 10px 0 20px 0;
  font-weight: bold;
}
.post-object, .banner {
  position: relative;
  margin-bottom: 2%;
}
.banner {
  max-width: 300px;
  min-width: 300px;
}
#main-posts .banner-popular h2 {
  text-align: center;
  letter-spacing: 3px;
  color: #fff;
  background-color: #122ded;
  margin: 0;
  padding: 2%;
}
.banner-popular ul {
  text-align: center;
  width: 100%;
}
.banner-popular li {
  display: inline-block;
  float: left;
  background-color: #000;
  width: 100px;
  max-width: 100%;
  padding: 2% 0;
}
#main-posts .banner-popular a {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}
#main-posts .banner-popular li:hover {
  background-color: #122ded;
}
#main-posts .banner-popular, #posts .banner-news {
  background-color: #eeeeef;
}
.popular-1 {
  position: relative;
  clear: both;
  width: 100%;
}
.popular-2 {
  position: relative;
  clear: both;
  background: url('../img/vk-vidjet.png');
  background-size: contain;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  height: 254px;
}
.popular-text {
  padding: 5%;
}
.banner .text {
  font-size: 15px;
  background-color: #eeeeef;

}
.banner .shares-1 {
  font-size: 12px;
  color: #6a6a6a;
  border-bottom: 2px solid #c7b8b8;
  padding-bottom: 20px;
}
.banner-popular div:last-child{
  border-bottom: 0;
}
/** end of banner-1 **/
#posts h2 {
  text-align:center;
  font-weight: bold;
  margin:60px;
}
#classic .container, #classic h2 {
  color: #fff;
  font-size: 24px;
  letter-spacing: 1px;
  background-color: #122ded;
}
#classic span, #subscription span {
  display: inline-block;
  font-size: 16px; 
  line-height: 1.5;
  letter-spacing: 1px;
}
.classic-text a {
  margin: 20px 0;
}
.gallery a {
  margin-top: 30px;
}
#classic .btn, #download .btn, #subscribe .btn {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 5px solid; 
}
#posts .btn, #download .btn, #subscribe .btn {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  border: 3px solid;
  border-bottom: 5px solid;
  font-size: 14px;
  letter-spacing: 2px; 
}
#posts .btn {
  margin: 0 25% 10% 25%;
}
/** banner-2 **/
.news {
  position: relative;
  float: left;
  
  width: 90px;
  height: 90px;
}
section#posts .banner a {
  width: 100%; /* чтобы у background корректно работал contain с шириной 100% */
}
.new-1 {
  background: url('../img/new-1.png');
  background-size: cover;
  background-position: 100% 0%;
  background-repeat: no-repeat;
}
.new-2 {
  background: url('../img/new-2.png');
  background-size: cover;
  background-position: 100% 0%;
  background-repeat: no-repeat;
}
.new-3 {
  background: url('../img/new-3.png');
  background-size: cover;
  background-position: 100% 0%;
  background-repeat: no-repeat;
}
.new-4 {
  background: url('../img/new-4.png');
  background-size: cover;
  background-position: 100% 0%;
  background-repeat: no-repeat;
}
.new-5 {
  background: url('../img/new-5.png');
  background-size: cover;
  background-position: 100% 0%;
  background-repeat: no-repeat;
}
section#posts .posts-list div:nth-child(odd){
  clear: left;
}
#posts .banner h2 {
  text-align: center;
  letter-spacing: 3px;
  color: #000;
  margin: 0;
  padding: 7%;
}
#posts .banner li {
  display: table;
  height: 90px;
  margin: 2%;
}
#posts .banner span {
  display: table-cell;
  vertical-align: middle;
  height: 90px;
  padding: 0 2%;
  font-size: 16px;
  font-weight: normal;
}
.banner-1 {
  position: relative;
  clear: both;
  background: url('../img/banner-1.png');
  background-size: contain;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  height: 500px;
}
.banner-2 {
  position: relative;
  clear: both;
  background: url('../img/banner-2.png');
  background-size: contain;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  height: 99px;
}
.clear {
  clear: both;
}
/** end of banner-2 **/

section#classic {
  background-color: #122ded;
}
section#subscription {
  position: relative;
  background-color: #f20215;
  background: url('../img/section-1.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0 60px 0;
}
#subscription .btn {
  max-width: 260px;
}
.subs-1 h2 {
  font-size: 21.43px;
  color: #fff;
}
.subs h2 {
  font-size: 25px;
  color: #fff;
}
section#subscription .container, section#classic .container, .panel-footer .container {
  border: 0;
} 
.subs {
  color: #fff;
  background-color: transparent;
}
.subs h2 {
  color: #fff;
  font-size: 25px;
}
.subs .btn {
  padding: 2.8%;
  background-color: #122ded;
  border: none;
  border-radius: 0;
}
.subs ul {
  padding: 20px 0 20px 0;
  display: table;
  width: 100%;
}
.subs input {
  font-size: 14px;
  color: #000;
  line-height: 3;
  width: 100%;
  padding: 2px;
}
.subs li:first-child {
  float: left;
  width: 100%;
}
.subs li {
  display: table-cell;
  vertical-align: middle;
}
.subs-1 img {
  max-width: 260px;
}
#subscribe h2 {
  text-transform: none;
}
/** banner-3 **/
.banner-choise {
  background-color: #fff;
}
.banner-choise a {
  width: 100%;
}
.choise, .cover {
  position: relative;
  float: left;
  margin-bottom: 5%;
  width: 100%;
}
.square {
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  float: left;
}
.square::before {
  content: "";
  display: block;
  margin-top: 100%;
}
.digit {
  text-align: center;
  color: #fff;
  font-size: 21px;
  line-height: 2;
  background-color: #122ded;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.banner-choise > h2 {
  text-align: center;
  letter-spacing: 3px;
  color: #000;
  background-color: #fff;
  margin: 0 5% 5% 5%;
}
#digit {
  position: absolute;
  top: 8px;
  left: 11px;
  color: #fff;
  font-size: 21px;
}
.cover, .cover-text {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cover-text {
  top: 10px;
  left: 15px;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}
.cover {
  background: rgba(0,0,0, 1);
  -khtml-opacity: .6;
  -moz-opacity: .6;
  opacity: .6;
}
.link-hover {
  display: inline-block;
  position: relative;
}
.link-hover:hover .cover, .link-hover:hover .cover-text {
  display: inline-block;
}
.link-hover:hover .square {
  display: none;
}
/** end of banner-3 **/
#download ul, #subscribe {
  text-align: center;
  padding-bottom: 20px;
}
#download img, #subscribe img {
  margin: 5% auto;
}
#download .post-object {
  margin: 3% 38%;
}
#download .interni-logo, #download .object-logo {
  width: 40%;
  height: 32px;
  margin: 5% 35%;
}
#download span {
  display: inline-block;
  clear: both;
  color: #767676;
  font-size: 15px;
  letter-spacing: 2px;
  margin-top: 20px;
}
#subscribe .post-object {
  margin: 3% 25%;
}
#subscribe .interni-logo, #subscribe .object-logo {
  width: 40%;
  height: 25px;
  margin: 5% 30%;
}
/** banner-4 **/
.banner-hot {
  background-color: #122ded;
  padding: 15px;
}
.banner-hot+div {
  margin-bottom: 3%;
}
.hot-1, .hot-2, .banner-hot .text {
  position: relative;
}
.shares {
  position: absolute;
  bottom: 0;
  font-size: 13px;
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff !important;
  background-color: #000;
  letter-spacing: 2px;
}
.banner h3 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.banner-hot .text {
  font-size: 16px;
  background-color: #fff;
  font-weight: normal;
  width: 100%;
  margin-bottom: 5%;
  padding: 10px 10px 40px 10px;
}
.banner-hot h2 {
  font-size: 21px;
  color: #fff !important;
}
/** end of banner-4 **/
/* FOOTER */
.panel-footer {
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #000000;
  border-top: 0;
  text-align: center;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#logo img {
  margin: 0 auto;
}
.panel-footer button, .dropdown-menu, .dropdown-menu>li>a {
  background-color: #000000;
  color: #eeeeee;
  font-size: 18px;
  margin-right: 5%;
  border: 0;
  opacity: 0.9;
}
.panel-footer button:visited {
  color: #eeeeee;
}
.panel-footer button:hover {
  color: #eeeeee;
  text-decoration: underline;
}
.panel-footer button:active {
  color: #eeeeee;
}
/* END FOOTER */
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
.banner {
  margin: 0 auto;
 }
 
}
  
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
 /* Home Page */
section#main-posts:first-of-type {
  margin-top: 162px;
}
.menu-main h2 {
    font-size: 2vw;
  } 
.navbar-header .header-item {
  border-right: 0;
}
.title {
 font-size: 3vw;
 }
.banner {
  margin: 0 auto;
}
#posts .banner span {
  font-size: 12px;
}
#search-box:target {
  top: 70px;
}
#search-box input {
  height: 80px;
}
}
 
/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Home Page */
section#main-posts:first-of-type {
  margin-top: 212px;
}
.date, .object {
  font-size: 2vw;
}
.title {
  font-size: 3vw;
  line-height: 1.5;
  padding: 2%;
}
.objects li {
  margin: 15px 50px;
}
.banner {
  margin: 0 auto;
}
.menu-main h2 {
  font-size: 4vw;
}
#classic img {
    margin: 0;
}
.nav-bar-header .search-button {
  padding: 10px 30px;
}
#search-box:target {
  top: 70px;
}

/* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0;
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */
}

/********** Super extra small devices Only (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Home Page */
  .date, .object {
    font-size: 3vw;
  }
  .menu-right h2, .title {
   font-size: 3.5vw;
  }
  .title {
    font-size: 4vw;
    bottom: 3%;
   }
   .objects li {
    margin: 5px 10px;
  }
  .banner {
    margin: 0 auto;
  }
  .navbar-header .header-item, .navbar-header .header-item-1, .menu {
    height: 60px;
  }
  .logo-img {
    margin: 10px auto;
  }
  .nav-bar-header .search-button {
    padding: 10px 30px;
  }
  .menu-main li {
    padding: 15px 10px;
  }
  #search-box:target {
  top: 120px;
}
  .search-form a {
  padding: 15px 5px;
 }
}
  


